

/******* Partie security/login.php ***************/

form .login{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

form .login label{
    margin-top: 20px;
    margin-bottom: 10px;
}

form .login .btn_log{
    margin-top: 5%;
}

form .login input{
    width: 30%;
}

/******* Partie inc/nav.html.twig ***************/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(103, 87, 165);
  }

li{
  float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a.select:hover {
    background-color: rgb(86, 73, 138);
}

.nav .logout {
    float: right;
}

ul.nav li a img.logo-nav{
    width: 80px;
}
