

/******* Partie security/login.php ***************/

form .login{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

form .login label{
    margin-top: 20px;
    margin-bottom: 10px;
}

form .login .btn_log{
    margin-top: 5%;
}

form .login input{
    width: 30%;
}

/******* Partie inc/nav.html.twig ***************/


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(103, 87, 165);
}
.navigation a{
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navigation .container_role a{
    padding: 14px 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.navigation .container_logo img.logo-nav{
    width: 80px;
    margin-left: 5px;
}

.navigation .container_logout{
    margin-right: 5px;
}

