{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Bienvenue {{ app.user.nom }} {{ app.user.prenom }}</h1>

        
    </div>
</div>

{% endblock %}