{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="bienvenue">Menu Visiteur</h1>
        <h1 class="bienvenue">Bienvenue {{ app.user.name }} {{ app.user.firstName }}</h1>
    </div>
</div>

{% endblock %}