<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}GSB{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_responsive.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include "inc/nav.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}


        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
